<div class="container d-flex flex-column align-items-center justify-content-center">
  <h1 class="title text-center">
    Gere diplomas profissionais <span>de forma rápida e fácil</span>
  </h1>

  <div class="sections d-flex justify-content-center">
    <div class="manual card">
      <div class="icon d-flex justify-content-center align-items-center">
        <i class="ph ph-hand-pointing"></i>
      </div>
      <div class="content text-center">
        <h3>Adicionar Manualmente</h3>
        <p>
          Preencha os dados diretamente no sistema para gerar um ou mais diplomas.
        </p>
      </div>

      <div class="points">

        <div class="point">
          <i class="ph ph-check"></i>
          <span>Ideal para poucos diplomas</span>
        </div>

        <div class="point">
          <i class="ph ph-check"></i>
          <span>Preenchimento passo a passo</span>
        </div>

        <div class="point">
          <i class="ph ph-check"></i>
          <span>Pré-visualização antes de gerar</span>
        </div>

      </div>

      <button class="btn">
        Adicionar Manualmente
        <i class="ph ph-arrow-right"></i>
      </button>
    </div>

    <div class="planilha card">
      <div class="icon d-flex justify-content-center align-items-center">
        <i class="ph ph-microsoft-excel-logo"></i>
      </div>
      <div class="content text-center">
        <h3>Enviar Planilha</h3>
        <p>
          Envie uma planilha preenchida para gerar dezenas ou centenas de diplomas rapidamente.
        </p>
      </div>

      <div class="points">
        <div class="point">
          <i class="ph ph-check"></i>
          <span>Ideal para muitos diplomas</span>
        </div>
        <div class="point">
          <i class="ph ph-check"></i>
          <span>Importação rápida e prática</span>
        </div>
        <div class="point">
          <i class="ph ph-check"></i>
          <span>Gere dezenas ou centenas de diplomas</span>
        </div>
      </div>

      <button class="btn">
        Enviar Planilha
        <i class="ph ph-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
